.gsn-theme .active-scaffold-header {
    background-color: #005CB8;
}

.gsn-theme .active-scaffold-header div.actions a {
color: #fff;
}

.gsn-theme .active-scaffold-header div.actions a.disabled {
color: #fff;
opacity: 0.5;
}

.gsn-theme .active-scaffold-header div.actions a:hover {
background-color: #378CDF;
}

.gsn-theme .active-scaffold .active-scaffold-header,
.gsn-theme .active-scaffold .active-scaffold-footer {
background-color: #1F7F00;
background: transparent;
}

.gsn-theme .active-scaffold .active-scaffold-header div.actions a {
color: #06c;
}

.gsn-theme .active-scaffold .active-scaffold-header div.actions a:hover {
background-color: #ff8;
}

.gsn-theme .active-scaffold-footer {
background-color: #005CB8;
color: #ccc;
}

.gsn-theme .active-scaffold-footer .active-scaffold-records {
margin-left: 5px;
}

.gsn-theme .active-scaffold-footer a {
color: #fff;
}

.gsn-theme .active-scaffold-footer a:hover {
background-color: #378CDF;
}
