/* ---- ADD/REMOVE/EDIT/VIEW WRAPPERS, VS, etc. ---- */
.gsn_vsd_table {
    width: 100%;
}

.gsn_vsd_table input {
    width: 50px;
}

#text .selected a {
    color: #990099;
}

.drawer-handle {
    border: 1px solid;

}

.ui-tabs-hide {
    display: none;
}

.drawers li{
    list-style: none;
}

#deployments .tab-content {
    border: 1px solid;
}

.ui-accordion-content{
    height: 400px;
    overflow:auto;

}

.ui-tabs-panel p, .ui-tabs-panel, .ui-accordion-content, .ui-accordion, .ui-component {
    font-family: inherit !important;
    font-size: 1em !important;
}


.ui-accordion-header a {
    font-size: .95em !important;
}

.ui-tabs-panel, .ui-accordion-content {
    padding: .7em .5em !important;
}

.ui-tabs-nav {
    font-family: inherit !important;
    font-size: 0.95em !important;
}

.ui-tabs-nav-item {
    border-width: 0pt;
    float:none;
}

.ui-tabs-nav li a {
    text-align:center;
    width: 33%;
    padding: 0.2em 0;
}

.ui-tabs-nav {
    width: 101%;
    border: 0;
}

/* Accordian rules reengineered */
.ui-accordion-content {
    border-bottom: 1px solid;
}

.ui-accordion {
    margin: 20px 0;
    height: 600px;
}

/* flot chart */

/* flexigrid, Selection support for flexigrid */
.selectable-list .flexigrid div.bDiv tr.trSelected:hover td,
.selectable-list .flexigrid div.bDiv tr.trSelected:hover td.sorted,
.selectable-list .flexigrid div.bDiv tr.trOver.trSelected td.sorted,
.selectable-list .flexigrid div.bDiv tr.trOver.trSelected td,
.selectable-list .flexigrid tr.trSelected td.sorted,
.selectable-list .flexigrid tr.trSelected td{
    background-image: url(/images/add.png) ;
    background-position: left center;
    background-repeat: no-repeat;
}
.selectable-list .flexigrid tr td{
    border-color: #fff;
}

.selectable-list .flexigrid tr.trSelected td{
    background-image: url(/images/add.png) ;
    background-position: left center;
    background-repeat: no-repeat;
    border-color: #fff;
}
.selectable-list {
    max-width:200px;
}
.flexigrid div.bDiv table {
    border-bottom:none;
}
.flexigrid .ftitle {
    background-color: #E6E6E6;
    text-align: center;
    color: #555555;
}
.flexigrid tr.erow td{
    background-color: #f7f7f7;
}
.flexigrid div.bDiv td div {
    padding-left: 30px;
}
.flexigrid{
    width: 100%;
}
/* dialog - zomming - plotting */
.ui-dialog-titlebar-close{
    display: none; /* removing the close btn*/
}
.ui-dialog-container{
    width:300px; /* For some reasons the actual size can't be specified through percentage !''*/
    height: 600px;
}
.dlg_selector .overview{
    width: 150px;
    height: 100px;
}

.ui-dialog-content{
    padding:0px;
}
.gsn_chart{
    width:600px;
    height:300px;
    /* position:absolute !important; */
}
.gsn_chart canvas{
    position: absolute !important;
    left: 0px !important;
    top: 0px !important;
}
.miniature {
    float: right;
    margin-left: 30px ;
    max-width:200px;
}
.overviewLegend{
    padding-left:30px;
}
.overview{
    margin: auto;
}
.miniature .legendColorBox{
    padding-left:30px;
    background-image: url(/images/eye.png) ;
    background-position: left center;
    background-repeat: no-repeat;
}
.miniature .no-img{
    background-image: none;
}

.ui-dialog {
    width:auto;
    height:auto;
}
.clear-both{
    clear:both;
}

/******* Configuration > Deployments *********/

.item a.delete_btn {
    float: right;
    vertical-align: middle;
}
/******* Deployments > Show Action*********/

.deployment .item {
    border-bottom: 1px solid;
    padding-bottom: 5px;
}


/* */

#content_loading {
    position: absolute;
    right: 4px;
    top: 4px;
}

/* General HTML tags */

#gsn_content {
    font-family: "Verdana, Geneva, sans-serif";
    letter-spacing: 0em;
    word-spacing: 0em;
    line-height: 1.1em;
}

#gsn_content p {
    margin-left: 0.4em;
    margin-right: 0.4em;
}

#gsn_content h1,
#gsn_content h2,
#gsn_content h3,
#gsn_content h4,
#gsn_content h5,
#gsn_content h6 {
    line-height: 1.3em;
    letter-spacing: 0;
    word-spacing: 0;
    font-family: "Gill Sans, sans-serif";
    color: #222222;
}

#gsn_content h1 { font-size: 2.2em;  }
#gsn_content h2 { font-size: 1.8em; border-bottom: 1px solid #606060; }
#gsn_content h3 { font-size: 1.4em; text-transform: uppercase; }
#gsn_content h4 { font-size: 1.2em; text-transform: uppercase; }
#gsn_content h5 { font-size: 1em;   text-transform: uppercase; }
#gsn_content h6 { font-size: 1em;   text-transform: uppercase; }


#gsn_content a.pdf:after,
#gsn_content a[href$="pdf"]:after {
    content: '';
    padding-right: 16px;
    background: transparent url(/images/pdf-icon.png) no-repeat right top;
}

#gsn_content .ui-accordion-header a { color: white; }
#gsn_content .ui-accordion-header a:hover { color: white; }

#gsn_content a {
    color: #a22a20;
    text-decoration: none;
    font-weight: bold;
}

#gsn_content a:hover {
    color: #000;
}


#gsn_content table {
    font-size: 0.8em;
    border-top: 1px solid #d0d0d0;
    border-left: 1px solid #d0d0d0;
}

#gsn_content table td,
#gsn_content table th {
    padding: 0.6em 0.3em;
    vertical-align: middle;
    border-bottom: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
}

#gsn_content table thead tr th,
#gsn_content table thead tr td {
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 1px solid #d0d0d0;
    padding: 0.8em;
    background: #fafafa;
    background: repeat-x url(/images/bg_top-l.gif) 0px 0px;
}

#gsn_content table tfoot tr td {
    padding: 0.8em;
}

#gsn_content table caption {
    font-style: italic;
    font-size: 1em;
    padding: 0.3em;
}

#gsn_content table caption:before {
    content: 'Table: ';
}

#gsn_content select {
    font: 1em;
    vertical-align: middle;
    padding: 0.3em;
}

#gsn_content option {
    line-height: 0;
    margin: 0.2em;
}

#gsn_content button {
    font: 1em;
    vertical-align: middle;
    padding: 0.3em;
}

#gsn_content input {
    padding: 0.4em;
    margin-left: 1em;
}

/*
#highlight {
    display: none;
    border: none;
}
div#highlight {
}
div#highlight-outer {
    background: none;
    border: none;
}
*/


/* home > home */
#home_home .Huge {
        font-size: 1.8em;
        display: block;
    }

#home_home .HUGE { font-size: 2.8em; display: block; padding: 0.4em;}

#gsn_content #home_home table.layoutable {
        width: 100%;
}
#home_home table.layoutable td {
    width: 50%;
    text-align: center;
    padding: 1em;
}
