/* ---- ADD/REMOVE/EDIT/VIEW WRAPPERS, VS, etc. ---- */
.gsn_vsd_table {
    width: 100%;
}

.gsn_vsd_table input {
    width: 50px;
}

#text .selected a {
    color: #990099;
}

.drawer-handle {
    border: 1px solid;

}

.ui-tabs-hide { display: none; }


.drawers li{
    list-style: none;
}

#deployments .tab-content {
    border: 1px solid;
}

.ui-accordion-content{
    height: 400px;
    overflow:auto;

}

.ui-tabs-panel p, .ui-tabs-panel, .ui-accordion-content, .ui-accordion, .ui-component {
    font-family: inherit !important;
    font-size: 1em !important;
}


.ui-accordion-header a {
    font-size: .95em !important;
}

div.left {
    background: #fff url(/images/bg_top-l.gif) repeat-x;
    padding: .6em .7em;
}

#header-outer {
    background: url(/images/bg_heade.gif);
}


/* greenish style

div#navigation {
background: url(/images/bg_nav00.gif);
background: #327E04 url(/images/themes/green/327E04_40x100_textures_03_highlight_soft_25.png) 0 50% repeat-x;
border-left: 1px solid #327E04;
border-right: 1px solid #5A9D1A;
}

div.left {
background: #fff url(/images/bg_top-l.gif) repeat-x;
padding: .6em .7em;
}

div#nav-outer {
background: #5A9D1A;
border-top: 1px solid #5A9D1A;
border-bottom: 1px solid #000;
}

#header-outer {
background: url(/images/bg_heade.gif);
}

*/


.ui-tabs-panel, .ui-accordion-content {
    padding: .7em .5em !important;
}

.ui-tabs-nav {
    font-family: inherit !important;
    font-size: 0.95em !important;
}

.ui-tabs-nav-item {
    border-width: 0pt;
    float:none;
}

.ui-tabs-nav li a {
    text-align:center;
    width: 33%;
    padding: 0.2em 0;
}

.ui-tabs-nav {
    width: 101%;
    border: 0;
}

/* Accordian rules reengineered */
.ui-accordion-content {
    border-bottom: 1px solid;
}

.ui-accordion {
    margin: 20px 0;
    height: 600px;
}