/* ---- ADD/REMOVE/EDIT/VIEW WRAPPERS, VS, etc. ---- */
.gsn_vsd_table {
    width: 100%;
}

.gsn_vsd_table input {
    width: 50px;
}

#text .selected a {
    color: #990099;
}

.drawer-handle {
    border: 1px solid;

}

.ui-tabs-hide {
	display: none;
}

.drawers li{
    list-style: none;
}

#deployments .tab-content {
    border: 1px solid;
}

.ui-accordion-content{
    height: 400px;
    overflow:auto;

}

.ui-tabs-panel p, .ui-tabs-panel, .ui-accordion-content, .ui-accordion, .ui-component {
    font-family: inherit !important;
    font-size: 1em !important;
}


.ui-accordion-header a {
    font-size: .95em !important;
}

.ui-tabs-panel, .ui-accordion-content {
    padding: .7em .5em !important;
}

.ui-tabs-nav {
    font-family: inherit !important;
    font-size: 0.95em !important;
}

.ui-tabs-nav-item {
    border-width: 0pt;
    float:none;
}

.ui-tabs-nav li a {
    text-align:center;
    width: 33%;
    padding: 0.2em 0;
}

.ui-tabs-nav {
    width: 101%;
    border: 0;
}

/* Accordian rules reengineered */
.ui-accordion-content {
    border-bottom: 1px solid;
}

.ui-accordion {
    margin: 20px 0;
    height: 600px;
}

/* flot chart */

/* flexigrid, Selection support for flexigrid */
.selectable-list .flexigrid div.bDiv tr.trSelected:hover td,
.selectable-list .flexigrid div.bDiv tr.trSelected:hover td.sorted,
.selectable-list .flexigrid div.bDiv tr.trOver.trSelected td.sorted,
.selectable-list .flexigrid div.bDiv tr.trOver.trSelected td,
.selectable-list .flexigrid tr.trSelected td.sorted,
.selectable-list .flexigrid tr.trSelected td{
    background-image: url(/images/add.png) ;
    background-position: left center;
    background-repeat: no-repeat;
}
.selectable-list .flexigrid tr td{
    border-color: #fff;
}

.selectable-list .flexigrid tr.trSelected td{
    background-image: url(/images/add.png) ;
    background-position: left center;
    background-repeat: no-repeat;
    border-color: #fff;
}
.selectable-list {
    max-width:200px;
}
.flexigrid div.bDiv table {
border-bottom:none;
}
.flexigrid .ftitle {
    background-color: #E6E6E6;
    text-align: center;
    color: #555555;
}
.flexigrid tr.erow td{
    background-color: #f7f7f7;
}
.flexigrid div.bDiv td div {
    padding-left: 30px;
}
.flexigrid{
    width: 100%;
}
/* dialog - zomming - plotting */
.ui-dialog-titlebar-close{
    display: none; /* removing the close btn*/
}
.ui-dialog-container{
    width:300px; /* For some reasons the actual size can't be specified through percentage !''*/
    height: 600px;
}
.dlg_selector .overview{
    width: 150px;
    height: 100px;
}

.ui-dialog-content{
    padding:0px;
}
.gsn_chart{
    width:600px;
    height:300px;
    /* position:absolute !important; */
}
.gsn_chart canvas{
    position: absolute !important;
    left: 0px !important;
    top: 0px !important;
}
.miniature {
    float: right;
    margin-left: 30px ;
    max-width:200px;
}
.overviewLegend{
    padding-left:30px;
}
.overview{
    margin: auto;
}
.miniature .legendColorBox{
    padding-left:30px;
    background-image: url(/images/eye.png) ;
    background-position: left center;
    background-repeat: no-repeat;
}
.miniature .no-img{
    background-image: none;
}

.ui-dialog {
    width:auto;
    height:auto;
}
.clear-both{
    clear:both;
}
