#mapContainer {
	padding: 0;
	margin: 0;
}

/*
	Setting map selector styles
*/
#mapSelector, mapPopUp {
	background-color: #444;
	border-bottom: 1px solid #BBB;
	border-left: 1px solid #BBB;
	border-right: 1px solid #BBB;
	text-align: center;
	vertical-align: middle;
	padding: 5px 0px 5px 0px;
	font-family: Verdana;
	color: white;
	font-size: 9pt;
}

#mapSelector {
	z-index: 99999997;
	position: absolute;
	height: 21px;
	top: 0px;
}

#mapSelector a {
	color: white;
	font-weight: normal;
}

#mapSelector a:hover {
	color: #AAA;
}

/*
	Styles for the pop up div
*/
#mapPopUp {
	z-index: 99999999;
	background-color: #DDD;
	border: 1px solid #999;
	padding: 10px 20px 20px 20px;
	text-align: center;
	vertical-align: middle;
	font-family: Verdana;
	color: #555;
	line-height: 1.6em;
	font-size: 9pt;
	position: absolute;
	visibility: hidden
}

/*
	Semi transparant div placed on top of the map
	to deactivate it while displaying a message
*/
#mapDim {
	z-index: 99999998;
	background-color: black;
	opacity: 0.8;
	filter: alpha(opacity = 80);
	top: 0px;
	left: 0px;
	position: absolute;
	visibility: hidden
}
