.stationInformation {
	font-family: Arial;
	font-size: 10pt;
	line-height: 1.5em;
}

.stationInformation div {
	font-size: 9pt;
	margin-bottom: 4px;
	border-bottom: 1px dashed #555;
}


.stationInformation2 {
	background-color: yellow;
	padding-bottom: 100px;
	border: 0;
	margin 0;
	padding: 0;
}

.stationInformation table {
	padding-bottom: 5px;
	border: 0px;
	padding: 0px;
}

#mapSelector {
	background-color: #CCC999;
	z-index: 99999999;
	position: absolute;
	top: 0px;
	text-align: center;
	vertical-align: middle;
	padding: 7px;
	font-family: Verdana;
	font-size: 9pt;
}

#mapSelector select{
	padding: 0.2em;
	
}
