#mapContainer {
	padding: 0;
	margin: 0;
}

/*
	Setting map selector styles
*/
#mapSelectorBg, #mapSelector {
	height: 23px;
	top: 0px;
	position: absolute;
}

#mapSelectorBg {
	background-color: black;
	z-index: 99999998;
	opacity: 0.7;
}

#mapSelector {
	z-index: 99999999;
	text-align: center;
	vertical-align: middle;
	padding: 5px 0px 5px 0px;
	font-family: Verdana;
	color: white;
	font-size: 9pt;
}

#mapSelector a {
	color: white;
	font-weight: normal;
}

#mapSelector a:hover {
	cursor:pointer; cursor:hand;
	color: #AAA;
}

/*
	Setting map loading styles
*/
#mapLoadingIndicator {
	z-index: 99999998;
	background-color: #000;
	opacity: 0.8;
	padding: 10px 10px 10px 10px;
}
