@import scala.collection.mutable.Buffer
@import controllers.gsn.auth.GSNGroup

@(vs: Buffer[models.gsn.auth.DataSource], groups: Buffer[models.gsn.auth.Group], users: Buffer[models.gsn.auth.User])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(Messages("gsn.access.vs.title"),"vslist") {
<div id="groups" class="row">
<div class="col-md-12">
<h1>@Messages("gsn.access.vs.title")</h1>
</div>
</div>
     <div id="groups" class="row">
		<div class="col-xs-12 col-md-8">
		<ul>
		@for(v <- vs) {
            <li>@v.value 
            <ul>
            @for(u <- v.users) {
            <li>@u.name</li>
            }
            </ul>
            <ul>
            @for(u <- v.groups) {
            <li>@u.name</li>
            }
            </ul>
	        <select id="u_@v.id">
	        @for(u <- users) {
	         <option value="u@u.id">@u.name</option>
	        }
	        @for(u <- groups) {
	         <option value="g@u.id">@u.name</option>
	        }
	        </select>
	        <button  type="button" class="btn btn-primary" onclick="$.post('@controllers.gsn.auth.routes.PermissionsController.addtovs?vs_id=' + @v.id + '&id=' + $('#u_@v.id').val()).done(document.location='@controllers.gsn.auth.routes.PermissionsController.vs');">@Messages("gsn.access.groups.add")</button>
	        </li>
	    }
        </ul>
		</div>
    </div>
}