<% for deployment in deployments -%>
  <tr class="gsn_vsd_table">
      <% fields_for "user",user do |init_form| -%>
	<td><%= deployment.name -%></td>
	<td><%= deployment.private -%></td>
	<td><%= deployment.description -%></td>
	<td><input type="checkbox" name="deployment_ids[]" id="<%= deployment.id -%>" value="<%= deployment.id -%>" <% if deployment.users.include? user %> checked="checked"<% end -%> /></td>
      <% end -%>
  </tr>
<% end -%>

