<form>
    <table>
	<tr>
	    <td><input type="text" value="username" /></td>
	    <td rowspan="2"><a href="#">Login</a></td>
	</tr>
	<tr>
	    <td><input type="text" value="password" /></td>
	</tr>
    </table>
</form>