<ul id="menu">
    <li <%= current_page?(:action => 'home') ? 'class="selected"':''%>><%=link_to 'home',:controller=>:gsn,:action=>:home%></li>
    <li <%= current_page?(:action => 'data') ? 'class="selected"':''%>><%=link_to 'data',:controller=>:gsn,:action=>:data%></li>
    <li <%= current_page?(:action => 'map') ? 'class="selected"':''%>><%=link_to 'map',:controller=>:gsn,:action=>:map%></li>
    <li <%= current_page?(:action => 'fullmap') ? 'class="selected"':''%>><%=link_to 'fullmap',:controller=>:gsn,:action=>:fullmap%></li>
</ul>
<ul id="linkWebsite">
    <li><%=link_to 'GSN Home','http://gsn.sourceforge.net'%></li>
</ul>
