<%= text_field_tag :'search-vs-field', nil, :id => 'search-vs-field' %>
<div id="search-vs-results"></div>
<%= observe_field :'search-vs-field', :frequency => 1.0, :url => {:controller => 'gsn', :action => 'populate_search_list_of_vs'}, :update => 'search-vs-results', :with => :search_criteria %>
<div id="flexi-search-bar"></div>