<h3>Description</h3>
<p id="gsn-desc">none</p>
<h3>Author</h3>
<p id="gsn-author">none</p>
<h3>Virtual sensors</h3>
<ul id="vsmenu">
    <li><a href="#">not loaded</a></li>
</ul>
<p><input class="hidden" id="toggleallmarkers" type="button" value="Show/hide all markers" /></p>