<div id="selectable-list-of-vs">
    <h3>Selected Virtual Sensors</h3>
    <ul id="selected-list-of-vs"></ul>
    <h3>Available Virtual Sensors</h3>
    <ul id="available-list-of-vs">
	<% for vs in @vss -%>
	    <li>
		<span class="vs-name">
		    <%= vs.is_enabled ? image_tag('enabled.png') : image_tag('disabled.png') %>
		    <%= link_to_remote vs.get_name, :update => "todo", :url => { :action => "TODO" } %></span><span class="select-btn">
		</span>
	    </li>
	<% end -%>
    </ul>
</div>
