<div class="about">
    <b>Description</b>
    <p>This environmental data portal is running a user administration system. The sensors that you see when not logged in are public though may not be used without the owners permission. There are many private sensors in this system. If you log in, you can apply for access to the data.</p>
    <b>Data Usage</b>
    <p>Public sensors remain under the copyright of the owner and may not be used without the owner's permission. Register/log in to apply for access to other sensors.</p>
    <b>Metadata</b>
    <p>Metadata for these data can be found <a href="http://www.swiss-experiment.ch/index.php/GSN:Metadata#Metadata_from_GSN_servers">here</a></p>
    <b>Administrator</b>
    <p>Contact: (joel (dot) caduff (at) slf (dot) ch)</p>
</div>