<div layout="row" layout-sm="column" layout-margin>
    <!--<div class="container">-->


    <div flex="70">
        <div ng-controller="ParameterSelectCtrl">
            <div>
                <label>Sensor</label>
                <ui-select ng-model="selectedSensor" theme="select2" ng-disabled="disabled"
                           on-select="updateSensor($item, $model)"
                           style="min-width: 400px;">
                    <ui-select-match placeholder="Select Sensor...">{{$select.selected}}
                    </ui-select-match>
                    <ui-select-choices
                            repeat="sensor in sensorNames | filter:$select.search">
                        <span ng-bind-html="sensor | highlight: $select.search"></span>
                        <!--<img ng-src="{{getIconUlr(sensor)}}" style="width: 16px; height:16px">-->
                    </ui-select-choices>
                </ui-select>
            </div>

            <div>
                <label>Property</label>
                <ui-select multiple ng-model="multipleDemo.selectedFields" theme="select2" ng-disabled="disabled"
                           style="width: 400px;">
                    <ui-select-match placeholder="Select property...">{{$item.columnName}}({{$item.unit}})
                    </ui-select-match>
                    <ui-select-choices group-by="nameGroupFn"
                                       repeat="property in fields | propsFilter: {name: $select.search, columnName: $select.search}">
                        <div ng-bind-html="propWithUnit(property) | highlight: $select.search"></div>

                    </ui-select-choices>
                </ui-select>
            </div>

            <!--<div layout="row" layout-align="start center">-->
            <!--<div flex><label>Valid from :</label>{{from | date:'yyyy-MM-dd'}}</div>-->
            <!--<div flex><label>to :</label>{{until | date:'yyyy-MM-dd'}}</div>-->

            <!--</div>-->

            <md-whiteframe style="margin-top: 10px;"
                           class="md-whiteframe-z2" layout="column" layout-align="start">


                <div>
                    <span class=".md-caption"><i>Sensor has data between {{from | date:'yyyy-MM-dd'}} and {{until |
                        date:'yyyy-MM-dd'}}</i></span>
                </div>

                <div class="bs-docs-section" ng-controller="DatepickerCtrl">


                    <div class="bs-example" style="padding-bottom: 24px;" append-source>
                        <form name="datepickerForm" class="form-inline" role="form">
                            <!-- Date range example -->
                            <div layout="row" layout-align="start center" layout-margin>

                                <div>
                                    <label>From</label>
                                    <input type="text" class="form-control" ng-model="dates.fromDate"
                                           data-max-date="{{maxDateFrom()}}" data-min-date="{{minDateFrom()}}"
                                           placeholder="From" bs-datepicker>
                                </div>
                                <div style="margin-left: 10px;">
                                    <label>To</label>
                                    <input type="text" class="form-control" ng-model="dates.untilDate"
                                           data-min-date="{{minDateTo()}}"
                                           placeholder="Until" bs-datepicker>
                                </div>

                            </div>

                        </form>
                    </div>

                </div>
            </md-whiteframe>


            <md-whiteframe style="margin-top: 10px;"
                           class="md-whiteframe-z2" layout="column" layout-align="start">
                <div>
                    <label>Aggregation</label>
                    <ui-select ng-model="aggFunc.selected" theme="select2" ng-disabled="disabled"
                               style="min-width: 50px;">
                        <ui-select-match placeholder="Select Aggregation...">{{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="func in aggregationFunctions">
                            <span ng-bind-html="func.name | highlight: $select.search.name"></span>
                        </ui-select-choices>
                    </ui-select>

                    <input ng-show="aggFunc.selected.value!= '-1'" name="input" ng-model="aggregationPeriod"
                           required>

                    <ui-select ng-model="aggUnit.selected" theme="select2" ng-disabled="disabled"
                               style="min-width: 50px;" ng-show="aggFunc.selected.value!= '-1'">
                        <ui-select-match placeholder="Select Aggregation...">{{$select.selected.name}}
                        </ui-select-match>
                        <ui-select-choices
                                repeat="unit in aggregationUnits | filter: $select.search">
                            <span ng-bind-html="unit.name | highlight: $select.search.name"></span>
                        </ui-select-choices>
                    </ui-select>
                </div>

            </md-whiteframe>

            <div style="margin-top: 10px;">
                <md-content>
                    <section layout="row" layout-sm="column" layout-align="left center">
                        <!--<button type="submit" ng-click="submitSelected();">Update Plot</button>-->
                        <md-button class="md-raised" ng-click="submitSelected();">Update Plot</md-button>
                        <md-button class="md-raised"
                                   ng-click="download();">
                            Download
                        </md-button>
                        <!--<md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>-->
                        <!--<md-button class="md-raised md-warn">Warn</md-button>-->
                        <div class="label">Raised</div>
                    </section>
                </md-content>
            </div>
        </div>


        <!--<div>-->
        <!--Sensor name:-->
        <!--Description:-->
        <!--Parameters: air temperature, humidity-->
        <!--dates:-->
        <!--</div>-->

    </div>
</div>
<div>
    <div ng-controller="hcCtrl">


        <!--<div ng-if="dataLoading" layout="column" layout-margin style="padding:50px;">-->
        <!--Loading of the plot data might take a few minutes.-->
        <!--<md-progress-linear md-mode="indeterminate"></md-progress-linear>-->
        <!-- -->
        <!--</div>-->

        <div ng-if="dataLoading" layout="row" layout-sm="column" layout-align="space-around">
            <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
        </div>

        <div ng-if="!dataLoading">
            <div ng-if="!noData">
                <highchart id="chart1" config="chartConfig" class="container"></highchart>

                <div>
                    <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center">
                        <span>Loaded <strong>{{pointCount}}</strong> time points.</span>
                    </md-whiteframe>
                </div>
            </div>

            <div>

            </div>
            <div ng-if="missingData.length>0">
                <md-whiteframe class="md-whiteframe-z2" layout layout-align="center center">
                    <span>No data available for property <strong>{{missingData.toString()}}</strong> during selected period of time.</span>
                </md-whiteframe>
            </div>
        </div>
    </div>
</div>

<!--<button-->
<!--class="btn btn-block"-->
<!--onclick="window.location.href='http://montblanc.slf.ch:22001/multidata?nb=ALL&from=07/05/2012%2000:00:00&to=13/04/2015%2000:00:00&vs[0]=imis_fka_2&field[0]=ta&vs[1]=imis_fka_2&field[1]=ts0&time_format=unix&download_format=csv'">-->
<!--download-->
<!--</button>-->


</div>