<div layout="column" layout-sm="column" layout-margin>

    <div ng-if="!hasDif() && !hasGSNMetadata()">
        No metadata available
    </div>

    <div ng-if="hasDif() && hasGSNMetadata()">
        <h3>{{dif.DIF.Entry_Title}}</h3>
        <h4>BASIC INFORMATION</h4>
        <p><label>Abstract: </label> {{dif.DIF.Summary.Abstract}} </p>
        <p><label>Keywords: </label> {{gsnMetadata.features[0].properties.observed_properties.join()}}</p>
        <p><label>Creation Date: </label> {{dif.DIF.DIF_Creation_Date}} </p>

        <h4>COVERAGE</h4>
        <p><label>Spatial coverage: </label> {{dif.DIF.Spatial_Coverage.Southernmost_Latitude}}, {{dif.DIF.Spatial_Coverage.Westernmost_Longitude}}</p>
        <p><label>Temporal coverage: </label> {{dif.DIF.Temporal_Coverage.Start_Date | date:"yyyy-MM-dd"}} &mdash; {{dif.DIF.Temporal_Coverage.Stop_Date | date:"yyyy-MM-dd"}}</p>

        <h4>LOCATION</h4>
        <p><label>Location: </label> {{dif.DIF.Location.Detailed_Location}}</p>
        <p><label>Elevation: </label> {{gsnMetadata.features[0].properties.elevation}} m</p>
        <p><label>Slope: </label> {{gsnMetadata.features[0].properties.slopeAngle}} &deg;</p>
        <p><label>Aspect: </label> {{gsnMetadata.features[0].properties.aspect}} &deg;</p>

        <h4>STRUCTURE</h4>
        <p><label>Parameters: </label></p>
        <ul>
            <li ng-repeat="parameter in gsnMetadata.features[0].properties.observed_properties">
                <i>{{parameter}}</i>: {{gsnMetadata.features[0].properties[parameter].join()}}
            </li>
        </ul>

        <h4>REFERENCE</h4>
        <p><label>Citation: </label></p>
        <p ng-if="gsnMetadata.features[0].properties.metadataLink"><label>Extra metadata: </label>
            <a href="{{gsnMetadata.features[0].properties.metadataLink}}">Wiki</a></p>

    </div>

    <div ng-if="!hasDif() && hasGSNMetadata()">
        <h3>{{gsnMetadata.features[0].properties.sensorName}}</h3>
        <h4>BASIC INFORMATION</h4>
        <p><label>Keywords: </label> {{gsnMetadata.features[0].properties.observed_properties.join()}}</p>

        <h4>COVERAGE</h4>
        <p><label>Spatial coverage: </label> {{gsnMetadata.features[0].geometry.coordinates[1]}}, {{gsnMetadata.features[0].geometry.coordinates[0]}}</p>
        <p><label>Temporal coverage: </label> {{gsnMetadata.features[0].properties.fromDate}} &mdash; {{gsnMetadata.features[0].properties.untilDate}}</p>

        <h4>LOCATION</h4>
        <p><label>Elevation: </label> {{gsnMetadata.features[0].properties.elevation}} m</p>
        <p><label>Slope: </label> {{gsnMetadata.features[0].properties.slopeAngle}} &deg;</p>
        <p><label>Aspect: </label> {{gsnMetadata.features[0].properties.aspect}} &deg;</p>

        <h4>STRUCTURE</h4>
        <p><label>Parameters: </label></p>
        <ul>
            <li ng-repeat="parameter in gsnMetadata.features[0].properties.observed_properties">
                <i>{{parameter}}</i>: {{gsnMetadata.features[0].properties[parameter].join()}}
            </li>
        </ul>

        <h4>REFERENCE</h4>
        <p><label>Citation: </label></p>
        <p ng-if="gsnMetadata.features[0].properties.metadataLink"><label>Extra metadata: </label>
            <a href="{{gsnMetadata.features[0].properties.metadataLink}}">Wiki</a></p>

    </div>
    <!--====== TEXT =======-->
    <!--Meteorological station at the Weissfluhjoch research site, 1996-present, Davos, Switzerland [DIF:Entry_Title]-->

    <!--BASIC INFORMATION-->
    <!--Abstract [DIF:Abstract]: The experimental site at the Weissfluhjoch (WFJ, 46.83◦ N, 9.81◦ E) is located at an altitude of 2540 m in the Swiss Alps near Davos. During the winter months, almost all precipitation falls as snow at this altitude. As a consequence, a continuous seasonal snow cover builds up every winter, with a maximum snow height ranging from 153–366 cm over the period 1934–2012. The measurement site is located in an almost flat part of a southeast oriented slope.-->
    <!--Keywords:-->
    <!--Publication data: 2015-09-15T14:05-->

    <!--COVERAGE-->
    <!--Spatial coverage: 46.829631, 9.809294 [MDS]-->
    <!--Temporal coverage: 1996-01-08 to 2015-09-15 [MDS]-->

    <!--LOCATION-->
    <!--Elevation: 2450 m asl [MDS]-->
    <!--Slope: 10 ° [MDS]-->
    <!--Aspect: 170 ° [MDS]-->

    <!--STRUCTURE-->
    <!--Parameters: [full list from metadataservice]-->

    <!--REFERENCE-->
    <!--Citation:WSL Institute for Snow and Avalanche Research SLF. 2015. Meteorological station at the Weissfluhjoch research site, 1996-present,Davos, Switzerland. SwissEX/OSPER data platform WSL Institute for Snow and Avalanche Research SLF. DOI:-->
    <!--[DIF:Dataset_Publisher]. [DATACITE:publicationYear]. [DIF:Entry_Title].[DIF:Data_Centre_Name].[DIF:Dataset_publisher].[DOI/URL]-->


    <!--Key References: [DIF:Reference]-->
    <!--URL:-->
    <!--Licence: ODC Open Database License / Copyright SLF-->


</div>