<!--<div ng-controller="GoogleMapsController" layout="column">-->
<!--<div flex="30">-->
<!--Search-->
<!--</div>-->

<!--<div flex="70">-->
<!--<leaflet center="center" geojson="geojson" layers="layers" height="480px"></leaflet>-->
<!--</div>-->
<!--</div>-->


<div ng-controller="AppCtrl" layout="column" style="height:500px;">
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                    md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Filters</h1>
            </md-toolbar>
            <md-content layout-padding ng-controller="LeftCtrl">

                <form ng-submit="submit()">
                   <div>
                    <ui-select ng-model="filter.sensorNameFeature" theme="select2" ng-disabled="disabled"
                               style="min-width: 200px;">
                        <ui-select-match placeholder="Select property...">
                            {{$select.selected.properties.sensorName}}
                        </ui-select-match>

                        <ui-select-choices repeat="feature in features | filter: $select.search">
                            <span ng-bind-html="feature.properties.sensorName | highlight: $select.search"></span>
                        </ui-select-choices>
                    </ui-select>

                   </div>

                    <p>Selected: {{person.selected}}</p>
                    <ui-select ng-model="person.selected" theme="select2" ng-disabled="disabled" style="min-width: 300px;">
                        <ui-select-match placeholder="Select a person in the list or search his name/age...">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="person in people | propsFilter: {name: $select.search, age: $select.search}">
                            <div ng-bind-html="person.name | highlight: $select.search"></div>
                            <small>
                                email: {{person.email}}
                                age: <span ng-bind-html="''+person.age | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>

                    <ul>

                        <li><label>Name:</label><input type="text" ng-model="filter.sensorName" name="text"/></li>
                        <li><label>Deployment:</label><input type="text" ng-model="filter.deployment" name="text"/></li>
                        <li><label>Parameter:</label><input type="text" ng-model="filter.parameters" name="text"/></li>
                        <li><label>Parameter:</label><input type="text" ng-model="filter.parameters" name="text"/></li>
                        <li><label>Parameter:</label><input type="text" ng-model="filter.parameters" name="text"/></li>
                        <li><label>Parameter:</label><input type="text" ng-model="filter.parameters" name="text"/></li>
                        <li><label>Parameter:</label><input type="text" ng-model="filter.parameters" name="text"/></li>
                        <li><label>Parameter:</label><input type="text" ng-model="filter.parameters" name="text"/></li>
                        <input type="submit" id="submit" value="Filter"/>
                    </ul>
                </form>
            </md-content>
        </md-sidenav>
        <md-content flex layout-padding>
            <div layout="column" layout-fill layout-align="top center">
                <leaflet center="center" layers="layers" height="480px"></leaflet>

            </div>
        </md-content>

    </section>
</div>

