<!--<div ng-controller="GoogleMapsController" layout="column">-->
<!--<div flex="30">-->
<!--Search-->
<!--</div>-->

<!--<div flex="70">-->
<!--<leaflet center="center" geojson="geojson" layers="layers" height="480px"></leaflet>-->
<!--</div>-->
<!--</div>-->


<div ng-controller="AppCtrl" layout="column" style="height:500px;">
    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                    md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Filters</h1>
            </md-toolbar>
            <md-content layout-padding style="height: 500px;">

                <!--<form ng-submit="submit()">-->

                <div style="margin-bottom: 5px;">
                    <ui-select ng-model="filter.group.selected" theme="select2" ng-disabled="disabled"
                               on-select="updateGroup($item)" style="min-width: 250px;">
                        <ui-select-match placeholder="Select a group">{{$select.selected}}</ui-select-match>
                        <ui-select-choices repeat="group in groups | filter: $select.search">
                            <span ng-bind-html="group | highlight: $select.search"></span>

                        </ui-select-choices>
                    </ui-select>
                </div>
                <div style="margin-bottom: 5px;">
                    <ui-select multiple ng-model="filter.sensors" theme="select2"
                               ng-disabled="disabled"
                               on-select="submit()"
                               on-remove="submit()" style="width: 250px;">
                        <ui-select-match placeholder="Select sensors...">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="sensorName in sensorNames | filter:$select.search">
                            {{sensorName}}
                        </ui-select-choices>
                    </ui-select>
                </div>
                <div style="margin-bottom: 5px;">
                    <ui-select multiple ng-model="filter.parameters" theme="select2"
                               ng-disabled="disabled"
                               on-select="submit()"
                               on-remove="submit()" style="width: 250px;">
                        <ui-select-match placeholder="Select parameters...">{{$item}}</ui-select-match>
                        <ui-select-choices repeat="param in parameters | filter:$select.search">
                            {{param}}
                        </ui-select-choices>
                    </ui-select>
                </div>
                <!--<ul>-->

                <!--<li><label>Name:</label><input type="text" ng-model="filter.sensorName" name="text"/></li>-->
                <!--<li><label>Deployment:</label><input type="text" ng-model="filter.deployment" name="text"/></li>-->
                <!--<li><label>Parameter:</label><input type="text" ng-model="filter.parameters" name="text"/></li>-->

                <!--<input type="submit" id="submit" value="Filter"/>-->
                <!--</ul>-->
                <!--</form>-->

            </md-content>
        </md-sidenav>
        <md-content flex layout-padding>
            <div layout="column" layout-fill layout-align="top center">
                <leaflet center="center" layers="layers" height="480px"></leaflet>

                <!--<leaflet  markers="markers" event-broadcast="events" center="center" layers="layers" height="480px"></leaflet>-->

            </div>
        </md-content>

    </section>
</div>

