@(f: play.data.Form[_])

@import helper._
@import play.core.j.PlayMagicForJava._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

             @inputPassword(
                f("password"),
                '_label -> Messages("playauthenticate.login.password.placeholder")
             )

             @inputPassword(
                f("repeatPassword"),
                '_label -> Messages("playauthenticate.login.password.repeat"),
                '_showConstraints -> false,
                '_error -> f.error("password")
             )
