<div>
  <%= render  :active_scaffold => "virtual_sensor"
  #,:constraints => { :listing_id => @listing.id }
	  %>
  <%= render  :active_scaffold => "stream",:constraints => { :virtual_sensor_id => 0 }
	  %>
  <%= render  :active_scaffold => "source"
  #,:constraints => { :listing_id => @listing.id }
	  %>
</div>