body,
html {
		margin:0;
		padding:0;
		background:#DFDFDF;
		color:#000;
		font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
		font-size:12px;
		line-height:1.4em;
	}
body {
		min-width:750px;	
		width: 100%; 
		height: 100%; 
		margin: 0; 
		padding: 0;	
		}
		
h2 {
	font-size:1.5em;
	margin:1em 0;
	}

a	{
	color: #666666;
	font-weight:bold;
	text-decoration:none;
	background-color:inherit;
	}
a:hover{color: #000000 /*#2a5a8a*/; text-decoration:none; background-color:inherit;}
a img { border :0;
		vertical-align: middle;
	  }

#container {
		margin:10px auto;
		padding:1px;
		width:750px;
		background:#FFFFFF;
		}
#header {
	    background:url("gsn-mark.png") no-repeat;
	    background-color:#FFEE00;
	    xheight:80px;
	    margin:0;
	    padding:0;
		}
#header h1 {
    	padding:32px 90px;
    	margin:0;
    	}
#header a {
		text-decoration:none;
		color:#000000;
		}
#navigation{
height:2.2em;
line-height:2.2em;
margin:0;
padding:0;
background:#ffa84c;
color:#9e9e9e;
}

#navigation ul{
		margin:0;
		padding:0;
}

#navigation li{
float:left;
list-style-type:none;
border-right:1px solid #ffffff;
white-space:nowrap;
}

#navigation li a{
display:block;
padding:0 10px;
font-size:0.8em;
font-weight:strong;
text-transform:uppercase;
text-decoration:none;
background-color:inherit;
color: #000000;
}

* html #navigation a {width:1%;}

#navigation .selected{
background:#ffffff;
color:#000000;
text-decoration:none;
}
#navigation a:hover{
/*background:#80b0da;*/
/*color:#ffffff;*/
background:#FFEE00; /*#ff6f00;*/
color:#000000;
text-decoration:none;
}

#main {
		xbackground:#9c9;
		float:left;
		width:490px;
		padding:0 10px;
		}
#main h2, #main h3, #main p {
		padding:0;
    	}
#sidebar {
		xbackground:#99c;
		float:right;
		width:220px;
		padding:0 10px 50px 10px;
		}
#sidebar ul {
		margin-bottom:0;
    	}
#sidebar h3, #sidebar p {
		padding:0 10px 0 0;
    	}
#footer {
		xbackground:#cc9;
		clear:both;
		color:#808080;
		}
#footer p {
		padding:10px 0 5px 0;
		margin:0;
		text-align:center;
 }

/* specific style */
.vsbox {
		clear:both;
		margin:1px;
		border: 1px solid #FFA84C;
		margin-bottom:8px;
		background:#FFA84C;
		}
.vsbox h3 {
		margin:0;
		padding:10px;
		xdisplay:inline-block;
		font-size:1em;
		}
.vsbox h3 span {float:left;}
.vsbox h3 span.id,.vsbox h3 span.status {display:none;}
.vsbox h3 a {float:right;}		
.vsbox h3 span.timed {
	margin-left:5px;
	font-size:0.8em;
	font-weight:normal;
}

.vsbox p, .vsbox dl {
	clear:both;
	padding:3px;
	margin:0;
	background:#ffffff;
}		
.vsbox dt {
	clear:both;
	float:left;
	font-weight:bold;
	padding:0;
	margin:0;
	padding-right:5px;
}
.vsbox dd {
	padding:0;
	margin:0;
	xfloat:left;
}
.vsbox dd img {
	/*height:150px;*/
}

.clear {
		clear:both;
}	

.error {
	font-weight:bold;
	color:#f00;
}

#map {
	margin-bottom:5px;
}

.gpsenabled {
	font-style: italic;
	font-weight: bold;
}