<?xml version='1.0' encoding='UTF-8'?>
<OAI-PMH xmlns='http://www.openarchives.org/OAI/2.0/' xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
         xsi:schemaLocation='http://www.openarchives.org/OAI/2.0/ http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd'>
    <responseDate>${responseDate}</responseDate>
    <request verb="Identify">${request}</request>
    <Identify>
        <repositoryName>${repositoryName}</repositoryName>
        <baseURL>${baseURL}</baseURL>
        <protocolVersion>2.0</protocolVersion>
        <adminEmail>${adminEmail}</adminEmail>
        <earliestDatestamp>${earliestDatestamp}</earliestDatestamp>
        <deletedRecord>${deletedRecord}</deletedRecord>
        <granularity>${granularity}</granularity>
    </Identify>
</OAI-PMH>