<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
    <display-name>GSN Server</display-name>
<!-- **********************************
         AUTHENTICATION INOFRMATION 
   ********************************** -->
<!--

	<login-config>
    	<auth-method>BASIC</auth-method>
    	<realm-name>GSNRealm</realm-name>
	</login-config>
	<security-constraint>
		<display-name>GSN Realms</display-name>
		<web-resource-collection>
			<web-resource-name>GSNRPC</web-resource-name>
			<url-pattern>/gsn-handler</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>ControllerServlet</web-resource-name>
			<url-pattern>/gsn</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>DataDownload</web-resource-name>
			<url-pattern>/data</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>FieldDownloadServlet</web-resource-name>
			<url-pattern>/field</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>FieldUpload</web-resource-name>
			<url-pattern>/upload</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>MSRSenseRSSHandler</web-resource-name>
			<url-pattern>/rss</url-pattern>
		</web-resource-collection>
		<web-resource-collection>
			<web-resource-name>MultiDataDownload</web-resource-name>
			<url-pattern>/multidata</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>gsnuser</role-name>
		</auth-constraint>
	</security-constraint>
-->
<!-- 
     *******************************************************************************     
      WEB SERVICES CALL [ USED FOR INTERACTIONS WITH MICROSOFT SENSOR MAP ] ; there is
      another part down in this file which has to be uncommented to have the axis working.
     ******************************************************************************* -->
<!--
    <servlet>
        <servlet-name>AxisServlet</servlet-name>
        <display-name>Apache-Axis Servlet</display-name>
        <servlet-class>org.apache.axis2.transport.http.AxisServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>AxisAdminServlet</servlet-name>
        <display-name>Apache-Axis AxisAdmin Servlet (Web Admin)</display-name>
        <servlet-class>org.apache.axis2.transport.http.AxisAdminServlet</servlet-class>
    </servlet>
-->
<!-- *******************************************************************************     
      GSN's Main Servlets, Must be enabled for any kind of HTTP based access
     ******************************************************************************* -->
    
	<!-- GSN START -->
	<servlet>
        <servlet-name>GSNRPC</servlet-name>
        <display-name>GSN XML-RPC Call manager</display-name>
        <servlet-class>gsn.GSNRPC</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>ControllerServlet</servlet-name>
        <display-name>GSN XML Output</display-name>
        <servlet-class>gsn.http.ControllerServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>DataDownload</servlet-name>
        <display-name>GSN Data Download</display-name>
        <servlet-class>gsn.http.DataDownload</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>FieldDownloadServlet</servlet-name>
        <display-name>GSN Field Get</display-name>
        <servlet-class>gsn.http.FieldDownloadServlet</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>FieldUpload</servlet-name>
        <display-name>GSN Field Upload</display-name>
        <servlet-class>gsn.http.FieldUpload</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>MSRSenseRSSHandler</servlet-name>
        <display-name>GSN GeoRSS Feed</display-name>
        <servlet-class>gsn.msr.sensormap.MSRSenseRSSHandler</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>MultiDataDownload</servlet-name>
        <display-name>GSN Multiple Field Download</display-name>
        <servlet-class>gsn.http.MultiDataDownload</servlet-class>
    </servlet>
   
	<!-- mapping for GSN -->
	<servlet-mapping>
        <servlet-name>GSNRPC</servlet-name>
        <url-pattern>/gsn-handler</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>ControllerServlet</servlet-name>
        <url-pattern>/gsn</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>DataDownload</servlet-name>
        <url-pattern>/data</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>FieldDownloadServlet</servlet-name>
        <url-pattern>/field</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>FieldUpload</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>MSRSenseRSSHandler</servlet-name>
        <url-pattern>/rss</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>MultiDataDownload</servlet-name>
        <url-pattern>/multidata</url-pattern>
    </servlet-mapping>
	<!-- GSN END -->
	
	<!-- 
     *******************************************************************************     
      WEB SERVICES CALL MAPPING [ USED FOR INTERACTIONS WITH MICROSOFT SENSOR MAP ] 
     ******************************************************************************* -->
     <!--
    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/servlet/AxisServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>*.jws</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AxisServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AxisAdminServlet</servlet-name>
        <url-pattern>/axis2-admin/*</url-pattern>
    </servlet-mapping>
     -->
     
     
    <mime-mapping>
        <extension>inc</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>

   <welcome-file-list>
      <welcome-file>index.jsp</welcome-file>
      <welcome-file>index.html</welcome-file>
      <welcome-file>/axis2-web/index.jsp</welcome-file>
    </welcome-file-list>

</web-app>
