<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" ng-bind-template="Sensors Detail: {{ sensorName }}">Sensor Detail: {{ sensorName
            }}</h1>
    </div>

    <div ng-show="loading">loading...</div>

    <p class="col-lg-12 lead" ng-if="details[0]==undefined && !loading">This sensor does not exist or you do not have
        access to this it.</p>

    <div ng-if="details[0]">
        <!--<div class="row" >-->

        <div class="col-lg-6" ng-if="!loading">
            <div class="panel panel-default">
                <div class="panel-heading">Properties</div>
                <div class="panel-body">
                    <div ng-repeat="(key, value) in details[0].properties"><p
                            ng-if="key != 'fields' && key != 'geographical' && key != 'values'"><label>{{key}}:</label>
                        {{value}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6" ng-if="!loading">

            <div class="panel panel-default">
                <div class="panel-heading">Geographical data</div>
                <div class="panel-body">
                    <p ng-if="details[0].properties.geographical"><label>Location:</label>
                        {{details[0].properties.geographical}}</p>

                    <div ng-repeat="(key, value) in details[0].geometry">
                        <p ng-if="key != 'coordinates'"><label>{{key}}:</label> {{value}}</p>
                    </div>
                    <ul ng-if="details[0].geometry.coordinates">
                        <li><label>Longitude:</label> {{details[0].geometry.coordinates[0]}}</li>
                        <li><label>Latitude:</label> {{details[0].geometry.coordinates[1]}}</li>
                        <li ng-if="details[0].geometry.coordinates[2]"><label>Altitude:</label>
                            {{details[0].geometry.coordinates[2]}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <!--</div>-->


        <div class="col-lg-12" ng-if="!loading">
            <div class="panel panel-default">
                <div class="panel-heading">Data</div>
                <div class="panel-body">

                    <form novalidate class="form" ng-submit="submit()">
                        Placeholder until I get datepicker to work
                        <br>

                        <div class="row">

                            <div class="col-lg-6">
                                <label>From: </label><br>
                                <label class="form-inline"> Year <br>
                                    <input type="number" class="form-control" min="1900" max="9999"
                                           placeholder="YYYY" ng-model="from.year">
                                </label>
                                <label class="form-inline"> Month <br>
                                    <input type="number" class="form-control" min="1" max="12"
                                           placeholder="MM" ng-model="from.month">
                                </label>
                                <label class="form-inline"> Day <br>
                                    <input type="number" class="form-control" min="1" max="31"
                                           placeholder="DD" ng-model="from.day">
                                </label>
                                <label class="form-inline"> Hour <br>
                                    <input type="number" class="form-control" min="0" max="23"
                                           placeholder="DD" ng-model="from.hour">
                                </label>
                                <label class="form-inline"> Minute <br>
                                    <input type="number" class="form-control" min="0" max="59"
                                           placeholder="DD" ng-model="from.minute">
                                </label>
                                <label class="form-inline"> Second <br>
                                    <input type="number" class="form-control" min="0" max="59"
                                           placeholder="DD" ng-model="from.second">
                                </label>


                            </div>

                            <div class="col-lg-6">
                                <label>To: </label><br>
                                <label class="form-inline"> Year <br>
                                    <input type="number" class="form-control" min="1900" max="9999"
                                           placeholder="YYYY" ng-model="to.year">
                                </label>
                                <label class="form-inline"> Month <br>
                                    <input type="number" class="form-control" min="1" max="12"
                                           placeholder="MM" ng-model="to.month">
                                </label>
                                <label class="form-inline"> Day <br>
                                    <input type="number" class="form-control" min="1" max="31"
                                           placeholder="DD" ng-model="to.day">
                                </label>
                                <label class="form-inline"> Hour <br>
                                    <input type="number" class="form-control" min="0" max="23"
                                           placeholder="DD" ng-model="to.hour">
                                </label>
                                <label class="form-inline"> Minute <br>
                                    <input type="number" class="form-control" min="0" max="59"
                                           placeholder="DD" ng-model="to.minute">
                                </label>
                                <label class="form-inline"> Second <br>
                                    <input type="number" class="form-control" min="0" max="59"
                                           placeholder="DD" ng-model="to.second">
                                </label>


                            </div>

                        </div>
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Refresh data</button>

                    </form>
                </div>

                <table id="sensor_data_table_id" class="table table-bordered table-hover table-striped"
                       ng-if="details[0].properties.fields">
                    <thead>
                    <tr>
                        <th ng-repeat="field in details[0].properties.fields">{{field.name}} ({{field.type}}<span
                                ng-if="field.unit">, {{field.unit}}</span>)
                        </th>
                    </tr>
                    </thead>
                    <tbody ng-if="details[0].properties.values">
                    <tr ng-repeat="values in details[0].properties.values">
                        <td ng-repeat="value in values">{{value}}</td>
                    </tr>
                    </tbody>
                </table>


            </div>

        </div>

    </div>


</div>