<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header" ng-bind-template="Sensors Detail: {{ sensorName }}">Sensor Detail: {{ sensorName }}</h1>
    </div>

    <script>
        Highcharts.setOptions({
            global: {
                useUTC: false
            }
        });
    </script>


    <div ng-show="loading">loading...</div>

    <p class="col-lg-12 lead" ng-if="details==undefined && !loading">This sensor does not exist or you do not have
        access to this it.</p>

    <div ng-if="loading" us-spinner style="position: relative"></div>


    <div ng-if="details">
        <!--<div class="row" >-->

        <div class="col-lg-6" ng-if="!loading">
            <div class="panel panel-default">
                <div class="panel-heading">Properties</div>
                <div class="panel-body">
                    <div ng-repeat="(key, value) in details.properties"><p
                            ng-if="key != 'fields' && key != 'geographical' && key != 'values' && key != 'latitude'
                            && key != 'longitude'"><b
                    >{{ key }}:</b>
                        {{ value }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6" ng-if="!loading">

            <div class="panel panel-default">
                <div class="panel-heading">Geographical data</div>
                <div class="panel-body">
                    <p ng-if="details.properties.geographical"><b>Location:</b>
                        {{ details.properties.geographical }}</p>

                    <div ng-repeat="(key, value) in details.geometry">
                        <p ng-if="key != 'coordinates'"><b>{{ key }}:</b> {{ value }}</p>
                    </div>
                    <ul>
                        <li ng-if="details.geometry.coordinates[0]"><b>Latitude:</b>
                            {{ details.geometry.coordinates[0]}}
                        </li>
                        <li ng-if="details.geometry.coordinates[1]"><b>Longitude:</b>
                            {{ details.geometry.coordinates[1]}}
                        </li>
                        <li ng-if="sensor.geometry.coordinates[2]"><b>Altitude:</b>
                            {{ details.geometry.coordinates[2]}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>


        <!--</div>-->


        <div class="col-lg-12" ng-if="!loading">
            <div class="panel panel-default">
                <div class="panel-heading">Data</div>
                <div class="panel-body">

                    <form novalidate class="form" ng-submit="submit()">


                        <div class="row">

                            <div class="col-lg-6">
                                <b>From: </b><br>

                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="fromDate" role="button" data-toggle="dropdown"
                                       data-target="#" href="">
                                        <div class="input-group"><input type="text" class="form-control"
                                                                        data-ng-model="date.from.date"><span
                                                class="input-group-addon"><i
                                                class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="date.from.date"
                                                        data-on-set-time="date.from.onTimeSet()"
                                                        data-datetimepicker-config="{ dropdownSelector: '#fromDate' }"></datetimepicker>
                                    </ul>
                                </div>

                            </div>

                            <div class="col-lg-6">
                                <label>To: </label><br>

                                <div class="dropdown">
                                    <a class="dropdown-toggle" id="toDate" role="button" data-toggle="dropdown"
                                       data-target="#" href="">
                                        <div class="input-group"><input type="text" class="form-control"
                                                                        data-ng-model="date.to.date"><span
                                                class="input-group-addon"><i
                                                class="glyphicon glyphicon-calendar"></i></span>
                                        </div>
                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                        <datetimepicker data-ng-model="date.to.date"
                                                        data-on-set-time="date.to.onTimeSet()"
                                                        data-datetimepicker-config="{ dropdownSelector: '#toDate' }"></datetimepicker>
                                    </ul>
                                </div>

                            </div>

                        </div>
                        <button type="submit" class="btn btn-primary" style="margin: 1em">Refresh data</button>

                    </form>


                    <div class="col-lg-12">

                        <div class="row">

                            <p style="float: left; display:inline-block" ng-if="details.properties.values">
                                <br>
                                {{ details.properties.values.length }} results found
                                for
                                the specified timeframe. </p>

                            <p style="float:left; display:inline-block" ng-if="!details.properties.values"><br>
                                <b>No data found for the
                                    specified timeframe. </b></p>


                            <h4 style="float: right; display:inline-block">Page size:
                                <b class="form-inline">
                                    <input type="number" min="1" max="100" class="form-control" placeholder="25"
                                           ng-model="pageSize">
                                </b>
                                <button type="button" class="btn btn-primary form-inline"
                                        ng-click="updateRowCount(pageSize)">
                                    Apply
                                </button>

                            </h4>
                        </div>

                        <div class="form-group">
                            <label class="checkbox-inline" ng-repeat="field in details.properties.fields">
                                <input type="checkbox" ng-model="columns[$index]">{{ field.name }}
                            </label>
                        </div>

                        <!--
                                                <button class="btn btn-info btn-block" ng-disabled="!details.properties.values"
                                                        ng-click="downloadCsv()">
                                                    <i class="fa fa-download"></i>
                                                    Download
                                                </button>
                        -->

                        <button class="btn btn-info btn-block" ng-disabled="!details.properties.values"
                                ng-click="download()">
                            <i class="fa fa-download"></i>
                            Download
                        </button>


                        <table id="sensor_data_table_id" class="table table-bordered table-hover table-striped"
                               ng-if="details.properties.fields">


                            <thead>
                            <tr>
                                <th ng-repeat="field in details.properties.fields" ng-if="columns[$index]">
                                    {{ field.name }}
                                    ({{ field.type }}<span
                                        ng-show="field.unit">, {{ field.unit }}</span>)
                                </th>
                            </tr>
                            </thead>
                            <tbody ng-if="details.properties.values">
                            <tr dir-paginate="values in details.properties.values  |itemsPerPage: truePageSize ">
                                <td ng-repeat="value in values track by $index"
                                    ng-show="columns[$index]">{{ value }}
                                </td>
                            </tr>
                            </tbody>
                        </table>


                        <dir-pagination-controls
                                max-size="10"
                                direction-links="true"
                                boundary-links="true">
                        </dir-pagination-controls>


                        <br>

                        <div class="form-group">
                            <label>Separate the graph according to field:</label>
                            <select class="form-control"
                                    ng-options="field as field.name for field in details.properties.fields"
                                    ng-model="selectedField" ng-disabled="!details.properties.values">
                            </select>
                        </div>

                        <br>

                        <highchart ng-if="details.properties.values" id="chart1" config="chartConfig"></highchart>
                        <button class="btn btn-primary" ng-click="compare()" ng-disabled="!details.properties.values">
                            Compare this dataset
                        </button>

                    </div>


                </div>

            </div>

        </div>

    </div>


</div>