<ul>
    <li <%= controller.action_name == 'virtual_sensors' ? 'class="selected"':''%>><%= link_to 'Virtual Sensors', :action => :virtual_sensors %></li>
    <li <%= controller.action_name == 'processor' ? 'class="selected"':''%>><%= link_to 'Processor', :action => :processor %></li>
    <li <%= controller.action_name == 'wrapper' ? 'class="selected"':''%>><%= link_to 'Wrapper', :action => :wrapper %></li>
    <li <%= controller.action_name == 'wrapper_instance' ? 'class="selected"':''%>><%= link_to 'Wrapper Instance', :action => :wrapper_instance %></li>
</ul>
